@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

.text-underline {
  text-decoration: underline;
}

.text-underline::after {
  content: ' .';
  position: absolute;
  top: -2px;
  right: -2px;
  text-align: center;
  font-size: 12px;
}
